APP_ENV=development
APP_MONGO_URI=mongodb://127.0.0.1:10105
APP_MONGO_DOCKER_URI=mongodb://mongo:10105
APP_MONGO_DB_NAME=event_registration
APP_SECRET=change-me-for-production
APP_SEED_DEMO=true
APP_USE_MOCK_DB=true
